@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: PT Sans;
}

/*--------------------*/
.header {
  padding: 29px 0 33px 0;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0 0 0;
  }
}

.header__container__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__item {
  font-size: 11px;
  color: black;
  line-height: 19px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.top-header__item:hover {
  color: #fff;
  background: black;
  border-radius: 2px;
}

.header__container__top__link {
  font-size: 15px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 1px;
}

.header__container__top__link:hover {
  color: #fff;
  background: black;
  border-radius: 2px;
}

.header__container__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -25px 0 0 0;
  padding: 0 5px;
}

@media (max-width: 670px) {
  .header__container__bottom {
    padding: 15px 5px 0 5px;
  }
}

@media (max-width: 510px) {
  .header__container__bottom {
    padding: 20px 0 0 0;
  }
}

.bottom-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

@media (max-width: 670px) {
  .bottom-header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

@media (max-width: 510px) {
  .bottom-header__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    text-align: center;
  }
}

.bottom-header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .bottom-header__menu-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 510px) {
  .bottom-header__menu-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bottom-header__menu-link {
  color: black;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 25px;
}

.bottom-header__menu-link:hover {
  color: #fff;
  background: black;
  border-radius: 2px;
}

.header-logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__text1 {
  position: absolute;
  z-index: 1;
  margin-top: 11px;
  color: black;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 5px;
}

.header-logo__text2 {
  margin-top: -20px;
  color: black;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 5px;
}

.header-logo__image {
  display: block;
  height: 100px;
  width: 200px;
  background: url(/img/Google-logo.jpg) 0 0/100% 100% no-repeat;
}

body {
  font-family: PT Sans;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.private__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._ibg {
  position: relative;
  /*max-height: 150px;*/
}

._ibg img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 510px) {
  .private__img {
    padding: 0 0 50% 0;
  }
  .private__content__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .private__body__content {
    max-width: 305px;
  }
  .private__body__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.private__body {
  background-color: black;
  padding: 75px 0 75px 60px;
}

.private__body__title {
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  color: #fff;
}

.private__body__text {
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 50px 0;
  color: #fff;
}

.private__body__buttons__item {
  display: inline-block;
}

.private__body__buttons__link {
  display: inline-block;
}

.btn {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  padding: 0 33px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: black;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #fff;
  color: black;
}

/*
.btn__w {
   margin: 0 0 0 -33px;
}
*/
@media (max-width: 767px) {
  .private__content {
    padding: 10px 0 0 0;
  }
  .private__body {
    background-color: black;
    padding: 55px 0 55px 40px;
  }
  .private__body__title {
    font-size: 30px;
  }
  .private__body__text {
    margin: 0 0 25px 0;
  }
}

@media (min-width: 510px) {
  .private__body__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 767px) {
  .private__body__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .btn__w {
    margin: 0 0 0 -29px;
  }
  /*
   .btn__ww {
      margin: 0 0 0 -29px;
   }
   */
}

.products {
  margin: 0 0 40px 0;
}

.products__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.products__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 20px 20px 0;
  margin: 0 0 40px 0;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.item-products__img {
  display: block;
  padding: 0 0 40% 0;
  margin: 0 0 15px 0;
}

.item-products__link {
  display: inline-block;
  margin: 0 0 15px 0;
}

.item-products__title {
  color: inherit;
  color: black;
  font-weight: 700;
  line-height: 20px;
  font-size: 20px;
}

.item-products__text {
  line-height: 20px;
  margin: 0 0 15px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-products__button > a {
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .products__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 20px 20px 0;
  }
}

@media (max-width: 510px) {
  .products__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 20px 20px 0;
  }
}

/*
.why_choose_part1_body {
   display: flex;
}*/
.why_choose_part1_item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.why_choose_part1_title {
  padding: 100px;
  background-color: black;
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
}

.why_choose_part1_img {
  display: block;
  min-height: 100%;
  width: 100%;
}

.why_choose_part2 {
  background-color: #c2c2c2;
}

.why_choose_part2_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 0 0;
  margin: 0 0 0 -20px;
}

.why_choose_part2_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 0 0 20px;
}

.why_choose_part2_item {
  /*display: flex;
   flex: 1 1 50%;*/
}

.why_choose_part2_item_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 20px 0 20px 0;
}

.why_choose_part2_img {
  display: block;
  height: 200px;
  width: 100%;
}

.part2_item_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 0 0 20px;
}

.part2_item_body_column {
  /*align-self: flex-end;*/
}

.part2_item_body_column_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.part2_item_title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 30px 0;
}

.part2_item_text {
  font-size: 15px;
  line-height: 20px;
  /*flex: 1 1 auto;*/
}

@media (max-width: 767px) {
  .why_choose_part2_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0 0 0;
  }
}

@media (min-width: 767px) {
  .why_choose_part1_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.target_1 {
  position: relative;
  margin: 200px;
}

.info {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 50;
}

.info_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #8f3b3b;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 23px;
  position: relative;
  z-index: 2;
  color: #862e2e;
}

.info_body {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  width: 250px;
  border-radius: 0 0 12px 0;
  padding: 40px 5px 35px 20px;
  -webkit-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.info_body:target {
  visibility: visible;
}

.info_close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: white;
}

.info_text {
  color: white;
}

.tabs {
  margin: 0 0 50px 0;
}

.tabs_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.tabs_item span {
  position: relative;
  z-index: 2;
}

@media (max-width: 600px) {
  .tabs_item span {
    display: block;
    width: 100px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    padding: 0 5px;
  }
}

.tabs_block {
  position: relative;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  display: none;
}

.tabs_block::before {
  content: "";
  height: 50px;
  width: 33%;
  position: absolute;
  top: -50px;
}

.tabs_block:nth-child(1) {
  background-color: lightcoral;
}

.tabs_block:nth-child(1)::before {
  background-color: lightcoral;
  left: 0;
}

.tabs_block:nth-child(2) {
  background-color: #80f09c;
}

.tabs_block:nth-child(2)::before {
  background-color: #80f09c;
  left: 33%;
}

.tabs_block:nth-child(3) {
  background-color: #d41abc;
}

.tabs_block:nth-child(3)::before {
  background-color: #d41abc;
  right: 0;
}

.tabs_block:target {
  display: block;
}
